<!DOCTYPE html>

<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>SCHAT</title>
</head>
<body>
    Join Room: {{.RoomId}}
    <h3 id="label-username">USERNAME</h3>
    <div>
        <form action="/join-chat" method="POST">
        <div>
            <input type="text" id ="username" name="uname">
            <input type="hidden" id="roomid" name="rid" value={{.RoomId}} readonly>
        </div>
        <div>
            <button id ="btn-join" type="submit">Join Meeting</button>
        </form>
    </div>
</body>

</html>